#about-container {
    background-color: #75942c;
    color: white;
    padding-top: 5%;
}

.about-description {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.about-description p {
    width: 90%;
}

#teacher-about-img {
    width: 80%;
}

h4 {
    font-size: 32px;
}

.testimonial-card {
    display: flex;
    width: 90%;
}

.top {
    border-bottom: 1px white solid;
    border-top: 1px white solid;
}

.testimonial-card p {
    font-size: 14px;
    font-style: italic;
    align-items: center;
    justify-content: center;
    display: flex;
}

#teacher-testimonial1 {
    width: 40%;
    float: left;
    margin: 1%;
}

#teacher-testimonial2 {
    width: 34%;
    float: right;
    margin: 1%;
}

#about-container section {
    align-items:center;
    display: flex;
    flex-direction: column;

}

.testimonial-name {
    text-align: right;
}

@media screen and (min-width:800px) {
    .about-description p {
        font-size: 30px;
    }
    .testimonial-card p {
        font-size: 24px;
    }
    .testimonial-name {
        font-size: 20px;
    }
    #teacher-testimonial1 {
        width: 35%;
        margin: 2%;
    }  
    #teacher-testimonial2 {
        width: 30%;
        margin: 2%;
    }
}