#contact-container {
    padding-bottom: 15%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#user-contact {
    width: 65%;
    border-radius: 15px;
}

#social-media-container img {
    width: 45px;
    margin: 5%;
}

#client-image {
    width: 80%;
    border-radius: 15px;
}

@media screen and (min-width:800px) {
    #contact-container p {
        font-size: 22px;
    }
    #user-contact {
        width: 40%;
    }
}