main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 25%;
    padding-bottom: 40%;
}

main img {
    width: 50%;
}

main p {
    width: 75%;
}

h2 {
    font-style: italic;
    font-weight: 450;
}

@media screen and (max-width:350px) {
    
    main {
        margin-top: 30%;
    }
}

@media screen and (min-width:600px) {
    h1 {
        font-size: 42px;
    }
    h2 {
        font-size: 30px;
    }
    main {
        margin-top: 18%;
        padding-bottom: 20%;
    }
    main img {
        width: 30%;
    }
}

@media screen and (min-width:1000px) {
    main {
        margin-top: 10%;
    }
}