main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 25%;
    padding-bottom: 40%;
}

main img {
    width: 50%;
}

main p {
    width: 75%;
}

h2 {
    font-style: italic;
    font-weight: 450;
}