footer {
    background-color: #d7d7d7;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width:800px) {
    footer {
        font-size: 22px;
    }
}